<h1>EXPLORE THE WORLD</h1>
<p>venture where no man has gone before</p>
<p>
	<%= @homeland %>
</p>

<ul>
	
	<% @countries.each do |country| %>
	<li><%= country %></li>
	<% end %>
</ul>



<%= image_tag 'ananas.jpeg', alt: "pineapple", id: "pineapple", class: "format-pic"%>
<%= image_tag 'trees.jpg', class: "format-pic" %>
<%= image_tag 'path.jpg', class: "format-pic" %>
<%= image_tag 'walk.jpg', class: "format-pic" %>

</br>
<% @images.each do |pic| %>
	<%= image_tag pic, class: "format-pic" %></br>
	<% end %>

